.footer {
  padding: -5px; /* Some padding */
  text-align: left; /* Center text*/
 

}
.footer h1{
  font-size: 12px;
 background: #F5FFFA; /* green background */
  color: black; /* white text color */
display: block;
}